<main>
    <section id="section-1">
        <div class="layer"></div>
        <h1>Dear my beloved xingyu</h1>
        <img id="cool-1" class="cool-1" src="./assets/img/cool-1.png">
    </section>
    <section id="section-2">
        <div class="layer"></div>
        <div class="section-2-container">
            <h2>Happy Valentine's Day</h2>
<!--            <p>from: Jojo</p>-->
        </div>
    </section>
    <section id="section-3">
        <div class="layer"></div>
        <h2>
            <span id="s31">Why</span>
            <span id="s32">are</span>
            <span id="s33">u</span>
            <span id="s34">so</span>
            <span id="s35">cute???</span>
        </h2>
        <img id="sb-1" class="sb sb-1" src="./assets/img/sb-1.jpg">
        <img id="sb-2" class="sb sb-2" src="./assets/img/sb-2.jpg">
        <img id="sb-3" class="sb sb-3" src="./assets/img/sb-3.jpg">
        <img id="sb-4" class="sb sb-4" src="./assets/img/sb-4.jpg">
    </section>
    <section class="section-4">
        <div class="layer"></div>
        <div class="text">
            <h1>We've been together for</h1>
            <h2 id="seconds">{{seconds}} seconds</h2>
            <h2 id="minutes">{{minutes}} minutes</h2>
            <h2 id="hours">{{hours}} hours</h2>
            <h2 id="days">{{days}} days</h2>
        </div>
    </section>
    <section class="section-5">
        <div class="layer"></div>
        <div class="poem">
            here
        </div>
    </section>

</main>