<main>
    <section id="section-1">
        <div class="layer"></div>
        <h1>Dear my beloved xingyu</h1>
        <img id="cool-1" class="cool-1" src="./assets/img/cool-1.png">
    </section>
    <section id="section-2">
        <div class="layer"></div>
        <div class="section-2-container">
            <h2>Happy Valentine's Day <span class="rose">🌹</span></h2>
<!--            <p>from: Jojo</p>-->
        </div>
    </section>
    <section id="section-3">
        <div class="layer"></div>
        <h2>
            <span id="s31">Why</span>
            <span id="s32">are</span>
            <span id="s33">u</span>
            <span id="s34">so</span>
            <span id="s35">cute???</span>
        </h2>
        <img id="sb-1" class="sb sb-1" src="./assets/img/sb-1.jpg">
        <img id="sb-2" class="sb sb-2" src="./assets/img/sb-2.jpg">
        <img id="sb-3" class="sb sb-3" src="./assets/img/sb-3.jpg">
        <img id="sb-4" class="sb sb-4" src="./assets/img/sb-4.jpg">
        <img id="sb-5" class="sb sb-5" src="./assets/img/sb-5.jpg">
        <img id="sb-6" class="sb sb-6" src="./assets/img/sb-6.jpg">
        <img id="sb-7" class="sb sb-7" src="./assets/img/sb-7.jpg">
        <img id="sb-8" class="sb sb-8" src="./assets/img/sb-8.jpg">
    </section>

    <section id="section-5">
        <div class="poem">
            <h2 id="s5-word">
                {{selectedWord}}
            </h2>
        </div>
        <div class="layer"></div>
    </section>

    <section class="section-4">
        <div class="layer"></div>
        <div class="text">
            <h1>We've been together for</h1>
            <h2 id="seconds">{{seconds}} seconds</h2>
            <h2 id="minutes">{{minutes}} minutes</h2>
            <h2 id="hours">{{hours}} hours</h2>
            <h2 id="days">{{days}} days</h2>
        </div>
    </section>

    <section id="section-6">
        <div class="layer"></div>
        <div id="s6-slider">
            <img class="coup" src="./assets/img/coup-1.png">
            <img class="coup" src="./assets/img/coup-2.png">
            <img class="coup" src="./assets/img/coup-3.png">
            <img class="coup" src="./assets/img/coup-4.png">
            <img class="coup" src="./assets/img/coup-1.png">
            <img class="coup" src="./assets/img/coup-2.png">
            <img class="coup" src="./assets/img/coup-3.png">
            <img class="coup" src="./assets/img/coup-4.png">
            <img class="coup" src="./assets/img/coup-1.png">
            <img class="coup" src="./assets/img/coup-2.png">
            <img class="coup" src="./assets/img/coup-3.png">
            <img class="coup" src="./assets/img/coup-4.png">
            <img class="coup" src="./assets/img/coup-1.png">
            <img class="coup" src="./assets/img/coup-2.png">
            <img class="coup" src="./assets/img/coup-3.png">
            <img class="coup" src="./assets/img/coup-4.png">
        </div>
    </section>

    <section id="section-7">
        <div class="text">
            <h2>Liu Xingyu,</h2>
            <h3>You are the best support in my life</h3>
            <h3>You are my source of motivation</h3>
            <h3>I am so grateful to have you</h3>
            <h3>Please stay with me forever, okay?</h3>
            <br>
            <h3>I am sucks at writing, but </h3>
            <h3>I hope you know that i love you the most</h3>
            <h3>I want to spend the rest of my life with you</h3>
            <h3>Cannot wait to see our 12 children ha ha ha!</h3>
            <h3>La putaaaa <3</h3>
            <br>
            <h4><em>Time will tell how much i love you</em></h4>
            <div class="from">
                <h3>Sincerely,</h3>
                <h2>Jojo</h2>
            </div>
        </div>
        <div class="layer"></div>
        <div class="layer"></div>
    </section>

</main>